<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Invoicin Main UI</title>
  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: http: data: localhost:* *; font-src 'self' https: localhost:* data:; script-src 'unsafe-inline' 'unsafe-eval' http: https: localhost:* invoicin-main-ui.local:*; connect-src https: http: localhost:* ws://localhost:* wss://ws-eu.pusher.com; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
  <link rel="preload" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/single-spa-layout@1.6.0/dist/system/single-spa-layout.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "single-spa-layout": "https://cdn.jsdelivr.net/npm/single-spa-layout@1.6.0/dist/system/single-spa-layout.min.js",
        "single-spa-vue": "https://cdn.jsdelivr.net/npm/single-spa-vue@2.4.2/dist/system/single-spa-vue.js",
        "axios": "https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
      }
    }
  </script>

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@invoicin/root-config": "//localhost:9000/org-root-config.js",
        "@invoicin/dashboard-ui": "//localhost:9001/src/main.js"
      }
    }
  </script>
  <% } %>

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

  <style>

    @keyframes ldio-ru85idovvw {
      0% { opacity: 1 }
      50% { opacity: .5 }
      100% { opacity: 1 }
    }
    .ldio-ru85idovvw div {
      position: absolute;
      width: 20px;
      height: 80px;
      top: 60px;
      animation: ldio-ru85idovvw 1s cubic-bezier(0.5,0,0.5,1) infinite;
    }.ldio-ru85idovvw div:nth-child(1) {
      transform: translate(30px,0);
      background: #93c5fd;
      animation-delay: -0.6s;
    }.ldio-ru85idovvw div:nth-child(2) {
      transform: translate(70px,0);
      background: #60a5fa;
      animation-delay: -0.4s;
    }.ldio-ru85idovvw div:nth-child(3) {
      transform: translate(110px,0);
      background: #3b82f6;
      animation-delay: -0.2s;
    }.ldio-ru85idovvw div:nth-child(4) {
      transform: translate(150px,0);
      background: #2563eb;
      animation-delay: -1s;
    }
    .loadingio-spinner-bars-9ky0l3udq1c {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      transform: scale(.3);
    }
    .ldio-ru85idovvw {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-ru85idovvw div { box-sizing: content-box; }

    .main-container {
      display: flex;
      flex-direction: row;
    }
    .side-nav {
      height: 100vh;
      width: 6%;
      position: relative;
    }
    .main-content {
      height: 100vh;
      width: 94%;
    }
    .dashboard-ui-style {
      display: grid;
      height: 100vh;
      align-items: center;
      justify-content: center;
      border-right: 2px dashed rgb(223, 223, 223);
    }

    @media only screen and (max-width: 1024px) {
      .main-container {
        flex-direction: column;
      }
      .side-nav {
        height: 80px;
        width: 100%;
      }
      .main-content {
        height: 100vh;
        width: 100%;
      }
      .dashboard-ui-style {
        display: flex;
        height: 80px;
        border-width: 0px;
        border-bottom: 2px dashed rgb(223, 223, 223);
      }
    }
  </style>

  <template id="single-spa-layout">
    <single-spa-router>
      <div class="main-container">
        <nav id="dashboard-ui" class="side-nav">
          <application name="@invoicin/dashboard-ui" class="dashboard-container"></application>
        </nav>
        <div class="main-content">

          <!-- Services -->
          
          <!-- End of services -->
        
        </div>
      </div>
    </single-spa-router>
  </template>

</head>
<body>
  <script>
    var Config = {
      isLocal: "<%= isLocal %>",
      localImportMaps: {
        "@invoicin/dashboard-ui": "//localhost:9001/src/main.js",
      }
    };
    System.import('@invoicin/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
